-- AlterTable
ALTER TABLE "recruitment_applications" ADD COLUMN     "decided_at" TIMESTAMP(3),
ADD COLUMN     "decided_by" BIGINT,
ADD COLUMN     "decision_reason" TEXT;

-- CreateTable
CREATE TABLE "recruitment_role_assignments" (
    "id" SERIAL NOT NULL,
    "user_id" BIGINT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'NONE',
    "departments" TEXT[],
    "active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "recruitment_role_assignments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_forms" (
    "id" SERIAL NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "published_at" TIMESTAMP(3),
    "closed_at" TIMESTAMP(3),

    CONSTRAINT "recruitment_forms_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_form_questions" (
    "id" SERIAL NOT NULL,
    "form_id" INTEGER NOT NULL,
    "question" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "options" TEXT[],

    CONSTRAINT "recruitment_form_questions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_form_submissions" (
    "id" SERIAL NOT NULL,
    "application_id" BIGINT NOT NULL,
    "form_id" INTEGER NOT NULL,
    "submitted_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recruitment_form_submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_form_answers" (
    "id" SERIAL NOT NULL,
    "submission_id" INTEGER NOT NULL,
    "question_id" INTEGER NOT NULL,
    "answer" TEXT NOT NULL,

    CONSTRAINT "recruitment_form_answers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_panels" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recruitment_panels_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_panel_members" (
    "id" SERIAL NOT NULL,
    "panel_id" INTEGER NOT NULL,
    "user_id" BIGINT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "recruitment_panel_members_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_interviews" (
    "id" SERIAL NOT NULL,
    "application_id" BIGINT NOT NULL,
    "panel_id" INTEGER NOT NULL,
    "recruiter_id" BIGINT,
    "round" INTEGER NOT NULL DEFAULT 1,
    "date" TIMESTAMP(3) NOT NULL,
    "start_time" TIMESTAMP(3) NOT NULL,
    "end_time" TIMESTAMP(3) NOT NULL,
    "meeting_link" TEXT,
    "status" TEXT NOT NULL DEFAULT 'SCHEDULED',

    CONSTRAINT "recruitment_interviews_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_feedback" (
    "id" SERIAL NOT NULL,
    "interview_id" INTEGER NOT NULL,
    "panel_member_id" INTEGER NOT NULL,
    "technical_score" INTEGER NOT NULL,
    "communication_score" INTEGER NOT NULL,
    "problem_solving_score" INTEGER NOT NULL,
    "confidence_score" INTEGER NOT NULL,
    "teamwork_score" INTEGER NOT NULL,
    "comments" TEXT,
    "decision" TEXT NOT NULL,

    CONSTRAINT "recruitment_feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_notifications" (
    "id" SERIAL NOT NULL,
    "user_id" BIGINT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "read" BOOLEAN NOT NULL DEFAULT false,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recruitment_notifications_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recruitment_audit_logs" (
    "id" SERIAL NOT NULL,
    "user_id" BIGINT,
    "action" TEXT NOT NULL,
    "entity" TEXT NOT NULL,
    "entity_id" TEXT,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recruitment_audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_InterviewAssignments" (
    "A" INTEGER NOT NULL,
    "B" INTEGER NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "recruitment_role_assignments_user_id_key" ON "recruitment_role_assignments"("user_id");

-- CreateIndex
CREATE INDEX "recruitment_role_assignments_role_idx" ON "recruitment_role_assignments"("role");

-- CreateIndex
CREATE UNIQUE INDEX "recruitment_form_submissions_application_id_key" ON "recruitment_form_submissions"("application_id");

-- CreateIndex
CREATE INDEX "recruitment_interviews_application_id_idx" ON "recruitment_interviews"("application_id");

-- CreateIndex
CREATE INDEX "recruitment_interviews_date_idx" ON "recruitment_interviews"("date");

-- CreateIndex
CREATE INDEX "recruitment_feedback_interview_id_idx" ON "recruitment_feedback"("interview_id");

-- CreateIndex
CREATE UNIQUE INDEX "recruitment_feedback_interview_id_panel_member_id_key" ON "recruitment_feedback"("interview_id", "panel_member_id");

-- CreateIndex
CREATE INDEX "recruitment_notifications_user_id_idx" ON "recruitment_notifications"("user_id");

-- CreateIndex
CREATE INDEX "recruitment_audit_logs_timestamp_idx" ON "recruitment_audit_logs"("timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "_InterviewAssignments_AB_unique" ON "_InterviewAssignments"("A", "B");

-- CreateIndex
CREATE INDEX "_InterviewAssignments_B_index" ON "_InterviewAssignments"("B");

-- AddForeignKey
ALTER TABLE "recruitment_role_assignments" ADD CONSTRAINT "recruitment_role_assignments_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_form_questions" ADD CONSTRAINT "recruitment_form_questions_form_id_fkey" FOREIGN KEY ("form_id") REFERENCES "recruitment_forms"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_form_submissions" ADD CONSTRAINT "recruitment_form_submissions_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "recruitment_applications"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_form_submissions" ADD CONSTRAINT "recruitment_form_submissions_form_id_fkey" FOREIGN KEY ("form_id") REFERENCES "recruitment_forms"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_form_answers" ADD CONSTRAINT "recruitment_form_answers_submission_id_fkey" FOREIGN KEY ("submission_id") REFERENCES "recruitment_form_submissions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_form_answers" ADD CONSTRAINT "recruitment_form_answers_question_id_fkey" FOREIGN KEY ("question_id") REFERENCES "recruitment_form_questions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_panel_members" ADD CONSTRAINT "recruitment_panel_members_panel_id_fkey" FOREIGN KEY ("panel_id") REFERENCES "recruitment_panels"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_panel_members" ADD CONSTRAINT "recruitment_panel_members_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_interviews" ADD CONSTRAINT "recruitment_interviews_application_id_fkey" FOREIGN KEY ("application_id") REFERENCES "recruitment_applications"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_interviews" ADD CONSTRAINT "recruitment_interviews_panel_id_fkey" FOREIGN KEY ("panel_id") REFERENCES "recruitment_panels"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_interviews" ADD CONSTRAINT "recruitment_interviews_recruiter_id_fkey" FOREIGN KEY ("recruiter_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_feedback" ADD CONSTRAINT "recruitment_feedback_interview_id_fkey" FOREIGN KEY ("interview_id") REFERENCES "recruitment_interviews"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_feedback" ADD CONSTRAINT "recruitment_feedback_panel_member_id_fkey" FOREIGN KEY ("panel_member_id") REFERENCES "recruitment_panel_members"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_notifications" ADD CONSTRAINT "recruitment_notifications_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recruitment_audit_logs" ADD CONSTRAINT "recruitment_audit_logs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_InterviewAssignments" ADD CONSTRAINT "_InterviewAssignments_A_fkey" FOREIGN KEY ("A") REFERENCES "recruitment_interviews"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_InterviewAssignments" ADD CONSTRAINT "_InterviewAssignments_B_fkey" FOREIGN KEY ("B") REFERENCES "recruitment_panel_members"("id") ON DELETE CASCADE ON UPDATE CASCADE;

